# Auto detect text files and perform LF normalization
* text=auto
# Large (>100 MB) files
/Content/Effects/Textures/Flipbooks/SmokeSwirl_3_Flipbook_CHANNELPACK.uasset filter=lfs diff=lfs merge=binary -text